__pycache__/
!scratch/README.md
.databricks/
.env
.pytest_cache/
.ruff_cache/
.uv-cache/
.uv/
.venv/
.vscode
*.egg-info
build/
ci-artifacts/
coverage.xml
dist/
htmlcov/
scratch/**
tmp/
.databricks
CLAUDE.md
